
body {
    /* UI Properties */
    background: #EEEFEC 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    margin: 0;
}

header {
    width: 50%;
    position: fixed;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
}
.navcontainer {
    background-color: #EEEFEC;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

nav {
    padding: .5em;
    top: 0;
    font-family: "new-kansas", sans-serif;
    color: #000000;
    font-weight: 200;
    font-size: 2vw;
    font-style: normal;
    margin-top: 50px;
  }
nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-right: 75px;
    padding-left: 75px;
    list-style: none;
 }
 a {
    text-decoration: none;
    font-size: 150%;
}
a:link{
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    /*color: #637E5A;*/
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #6F706E;
}
.homepage {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12vw;
    text-align: left;
    padding-left: 60px;
    padding-top: 0px;
    line-height: 15px;
}
.name {
    color: #000;
}
.title {
    color: #6F706E;
}

.nameRed {
    color: #951717;
}
.titleRed {
    color: #951717B3;
}

.nameGreen {
    color: #083613;
}
.titleGreen {
    color: #083613CC;
}
.nameYellow {
    color: #231F20;
}
.titleYellow {
    color: #231F20CC;
}
.nameMagenta {
    color: #4E0C32;
}
.titleMagenta {
    color: #4E0C32CC;
}
.nameTeal {
    color: #0F5E69;
}
.titleTeal {
    color: #0F5E69CC;
}

.workpic {
    width: 100%;
    max-width: 1400px;
    border-radius: 25px;
}

.logo {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    text-align: left;
    padding-left: 5vw;
    padding-top: .15vw;
    padding-bottom: 3vw;
    line-height: .05em;  
    letter-spacing: .03em;
    
}


.diabloContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    flex-wrap: wrap;
}

.diabloTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 10vw;
    bottom: 3vw;
    left: 4vw;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .diabloContainer:hover .overlay {
    opacity: 1;
  }

.dFour {
    font-size: 11vw;
}
.jumpscares {
    font-size: 8vw;
}

.spotifyContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.spotifyTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 10vw;
    bottom: 3vw;
    left: 4vw;
}

  .spotifyContainer:hover .overlay{
    opacity: 1;
  }

.spotify{
    font-size: 11vw;
}
.university {
    font-size: 8vw;
}
.modfiContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}

.modfiTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 12vw;
    bottom: 3vw;
    left: 4vw;
}

.modfiContainer:hover .overlay{
    opacity: 1;
  }

.mod {
    font-size: 11vw;
}
.fidelity {
    font-size: 11vw;
}
.sandt {
    font-size: 5vw;
    line-height:6vw;
}
.ritualContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.ritualTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    color: white;
    line-height: 14vw;
    bottom: 3vw;
    left: 4vw;
}

.ritualContainer:hover .overlay{
    opacity: 1;
  }

.ritual {
    font-size: 12vw;
}
.drink {
    font-size: 14vw;
}
.toRem {
    font-size: 6vw;
    line-height: 8vw;
}
.CODContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.CODTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 10vw;
    bottom: 3vw;
    left: 4vw;
}
.CODContainer:hover .overlay{
    opacity: 1;
  }

.call {
 font-size: 8vw;

}

.ofDuty {
 font-size:8.25vw;
 line-height: 9vw;
}

.warzone {
 font-size: 6.75vw;
 line-height: 8vw;
}

.safe {
 font-size: 13vw;
 line-height: 14vw;
}

.zones {
 font-size: 10.25vw;
 line-height: 12vw;
}


/* Beginning of Diablo CSS*/
.diabloPageContainer {
    background: #B057561C 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 3vw;
    padding-bottom: 225vw;
}
.diabloJumpScares {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    text-align: center;
    align-content: center;

    padding-bottom: 10vw;
}

.deeb{
    font-size: 12vw;
    color: #951717;
    line-height: .1vw;
}

.jumpy {
    position: relative;
    font-size: 8vw;
    color: #951717;
    line-height:.1vw;
}
.diabloHeaderImage {
    width: 100%;
    height: 100%;
    margin-top: -6.5vw;
}
.diabloExplanationTitle {
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #951717;
    font-size: 10vw;
    padding-left: -2vw;
}
.diabloExplanation {
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color:#951717;
    text-align: left;
    padding-left: 2vw;
}
.campaignExplanationContainer {
    margin: 5vw;
    padding: 2vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #951717;
    border-radius: 25px;
}
.casestudy {
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color:#951717;
    padding-top: -1vw;
}

 video {
    border-radius: 25px;
    width: 90vw;
 }
 /* Beginning of Spotify University CSS*/

 .spotifyPageContainer {
    position: relative;
    background: #08361324 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 3vw;
    overflow: hidden;
}
.spotifyUniversityTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    text-align: center;
    padding-left: 5vw;
    padding-top: 5vw;
}

.spotifyOne{
    position: absolute;
    font-size: 14vw;
    color: #083613;
    top: 50%;
    z-index: 2;
}

.universityOne{
    position: absolute;
    font-size: 9.8vw;
    color: #083613;
    line-height: 45vw;
    z-index: 3;
}

.spotifyHeaderImage {
    position: absolute;
    max-width: 200vw;
    max-height: 200vh;
    left: -15vw;
    right: 15vw;
    overflow: hidden;
    opacity: .5;
    z-index: 1;

}
.oneClubWinnerContainer{
    position: relative;
    margin-top: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    padding: 5vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #083613;
    border-radius: 25px;
    z-index: 5;
}
.oneClubText {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    text-align: left;
    line-height: 6.5vw;
    color: #2F2F34;
    z-index: 4;

}
.campaignSpotifyExplanationContainer {
    margin: 5vw;
    padding: 2vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #951717;
    border-radius: 25px;
    z-index: 4;
}
.casestudy {
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color:#951717;
    padding-top: -1vw;
}
 video {
    border-radius: 25px;
    width: 90vw;
 }

 