
body {
    /* UI Properties */
    background: #EEEFEC 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
}

.homepageBody {
    /* UI Properties */
    background: radial-gradient( #6CD087, #3CD1CC,  #6B3DC3);
    opacity: 1;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    overflow: hidden;
    height: 100%
}

header {
    width: 50%;
    position: fixed;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
}
.navcontainer {
    height: 20vw;
    background-color: #EEEFEC;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.homepageNav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    left: -30vw;
}
nav {
    padding: .5em;
    top: 0;
    font-family: "new-kansas", sans-serif;
    color: #000000;
    font-weight: 100;
    font-size: 1.25vw;
    font-style: normal;

    cursor: pointer;
  }
  
  @media (max-width: 600px) { 
    nav {
        font-size: 2vw;
    }
    nav ul {
        position: relative;
        padding-top: 18vw;
        left: 48vw;
        gap: 2vw;
    }
  }

  
.homepageNav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding-top: 3vw;
    top: 2.5vw;
    padding-left: 25vw;
    left: -12vw;
    align-items: center;
    overflow: hidden;
 }
 
 nav ul {
    position: relative;
    display: flex;
    right:-67.5vw;
    gap: 2vw;
    list-style: none;
    cursor: pointer;
    bottom: 3vw;
    align-items: right;
    overflow: hidden;
 }
a {
    text-decoration: none;
    font-size: 150%;
    cursor: pointer;
}
a:link{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:visited {
    text-decoration: none;
    /*color: #637E5A;*/
    color: #000;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #A1A1A8;
    cursor: pointer;
}

.homeContainer {
    position: relative;
    margin: auto;
    height: 70vw;
    overflow: hidden;
}

.homeContainerBorder {
    position: relative;
    border: .25vw solid #EEEFEC;
    border-radius: 3vw;
    margin: 2vw;
    overflow: hidden;
}
.homepage {
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    display: inline-block; 
    justify-content: center;
    align-items: center;
    line-height: 2.25vw;
    align-items: center;
    align-self: center;
}

.actualLogo img{
    position: relative;
    width: 15vw;
    background: #EEEFEC;
    border-radius: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vw;
    padding: 1vw;
    margin-bottom: 5vw;
}
.homepage1 {
    display: none;
}
.homepage2 {
    display: none;
}
.homepage3 {
    display: none;
}

    @media (max-width: 600px) {
        .homepageBody {
            background: radial-gradient( #6CD087, #3CD1CC,  #6B3DC3);
            opacity: 1;
            text-align: center;
            overflow-x: hidden;
            margin: 0;
            overflow: hidden;
            height: 220vw;
        }
        .homepageNav ul 
        {
            padding-top: 80vw;
        }

        .homeContainer {
            height: 220vw;
        }

        .actualLogo {
            padding-bottom: 68vw;
        }
    }
.name {
    color: white;
    font-size: 6vw;
}
.title {
    color: #EEEFEC;
    font-size: 10vw;
}

/*Work Nav CSS */

.logoWorkGrid {
    position: relative;
    width: 40vw;
    padding-left: 4vw;
    bottom: -8vw;
    
}
.nameWork {
    color: black;
    font-size: 2.97vw;
}
.titleWork {
    position: relative;
    color: black;
    font-size: 5vw;
}

.nameDiablo {
    font-family: "gigantic",sans-serif;
    color: #951717;
    font-size: 2.97vw;
}
.titleDiablo {
    font-family: "gigantic",sans-serif;
    position: relative;
    color: #951717B3;
    font-size: 5vw;
}
.nameSpotify {
    position: relative;
    font-family: "gigantic",sans-serif;
    font-size: 2.97vw;
    color: #083613;
}
.titleSpotify {
    font-family: "gigantic",sans-serif;
    position: relative;
    font-size: 5vw;
    color: #083613CC;
}
.nameModfi {
    position: relative;
    font-family: "gigantic",sans-serif;
    font-size: 2.97vw;
    color: #E8BD19;
}
.titleModfi {
    font-family: "gigantic",sans-serif;
    position: relative;
    font-size: 5vw;
    color: #F9D756;
}
.nameRitual {
    position: relative;
    font-family: "gigantic",sans-serif;
    font-size: 2.97vw;
    color: #0F5E69;
}
.titleRitual {
    font-family: "gigantic",sans-serif;
    position: relative;
    font-size: 5vw;
    color: #0F5E69CC;

}
.nameCOD {
    position: relative;
    font-family: "gigantic",sans-serif;
    font-size: 2.97vw;
    color: #4E0C32;
}
.titleCOD {
    font-family: "gigantic",sans-serif;
    position: relative;
    font-size: 5vw;
    color: #4E0C32;
}

.logoWork {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    line-height: 1.25vw;  
    letter-spacing: .05vw;
    flex: 1;
}
.workLogo img {
    position: relative;
    width: 10vw;
    left: 38vw;
    bottom: 7.4vw;
}

.name1 {
    color: #EEEFEC;
}
.title1 {
    color: #C6C6C4;
}
.name2 {
    color: #CDCECB;
}
.title2 {
    color: #DDDEDB; 
}
.name3{
    color: #DADBD8;
}
.title3 {
    color:#E3E4E1;
}

.workContainer {
    padding-left: 1.5vw;
    display: block;
    margin: auto;
}
.workContainer img {
    display: flex;
    width: 90vw;
    border-radius: 6vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.workContainer a {
    border-radius: 25px;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

 @media (max-width: 600px) {
    .workContainer {
        padding-top: 3vw;
        position: relative;
        padding-left: 1vw;
        display: block;
        margin: auto;
        right: 11.5vw;
    }

    .logoWorkGrid {
        position: absolute;
        top: 12vw;
    }
 }
.logo {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    text-align: left;
    padding-left: 3vw;
    padding-top: .15vw;
    padding-bottom: 3vw;
    line-height: .2vw;  
    letter-spacing: .05vw;
}


@media (max-width: 600px) {
    .logo {
        position: relative;
        line-height: 1px;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 1.5em;
    }
}


.diabloContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    flex-wrap: wrap;
}

.diabloTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 10vw;
    bottom: 3vw;
    left: 4vw;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
  }
  
  .diabloContainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

.dFour {
    font-size: 11vw;
}
.jumpscares {
    font-size: 8vw;
}

.spotifyContainer {
    max-width: 400vw;
    width: 100vw;
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.spotifyTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 10vw;
    bottom: 3vw;
    left: 4vw;
}

  .spotifyContainer:hover .overlay{
    opacity: 1;
  }

.spotify{
    font-size: 11vw;
}
.university {
    font-size: 8vw;
}
.modfiContainer {
    max-width: 400vw;
    width: 100vw;
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}

.modfiTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 12vw;
    bottom: 3vw;
    left: 4vw;
}

.modfiContainer:hover .overlay{
    opacity: 1;
  }

.mod {
    font-size: 11vw;
}
.fidelity {
    font-size: 11vw;
}
.sandt {
    font-size: 5vw;
    line-height:6vw;
}
.ritualContainer {
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.ritualTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    color: white;
    line-height: 14vw;
    bottom: 3vw;
    left: 4vw;
}

.ritualContainer:hover .overlay{
    opacity: 1;
  }

.ritual {
    font-size: 12vw;
}
.drink {
    font-size: 14vw;
}
.toRem {
    font-size: 6vw;
    line-height: 8vw;
}
.CODContainer {
    max-width: 400vw;
    width: 1000vw;
    position: relative;
    text-align: left;
    color: white;
    left: 2em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.CODTitle {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: white;
    line-height: 9vw;
    bottom: 3vw;
    left: 4vw;
}
.CODContainer:hover .overlay{
    opacity: 1;
  }

.call {
 font-size: 8vw;

}

.ofDuty {
 font-size:8.25vw;
 line-height: 8vw;
}

.warzone {
 font-size: 6.75vw;
 line-height: 8vw;
}

.safe {
 font-size: 13vw;
 line-height: 12vw;
}

.zones {
 font-size: 10.25vw;
 line-height: 12vw;
}


/* Beginning of Diablo CSS*/
.diabloPageContainer {
    background: #B057561C 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 1.5vw;
    padding-bottom: 225vw;
}
.diabloJumpScares {
    position: absolute;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    text-align: center;
    align-content: center;

    padding-bottom: 10vw;
}

.deeb{
    font-size: 12vw;
    color: #951717;
    line-height: .1vw;
}

.jumpy {
    position: relative;
    font-size: 8vw;
    color: #951717;
    line-height:.1vw;
}
.diabloHeaderImage {
    width: 100%;
    height: 100%;
    margin-top: -6.5vw;
}
.diabloExplanationTitle {
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #951717;
    font-size: 10vw;
}
.diabloExplanation {
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color:#951717;
    text-align: left;
    padding-left: 2vw;
}
.campaignExplanationContainer {
    margin: 5vw;
    padding: 2vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #951717;
    border-radius: 25px;
}
.casestudy {
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color:#951717;
    
}

 video {
    border-radius: 25px;
    width: 90vw;
 }

 video {
    position: relative;
    border-radius: 25px;
    width: 90vw;
    padding-bottom: 2vw;
    z-index: 6;
 }
 /* Beginning of Spotify University CSS*/

 .spotifyPageContainer {
    position: relative;
    background: #08361324 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 1.5vw;
    overflow: hidden;
}
.spotifyUniversityTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    text-align: center;
    padding-left: 5vw;
    padding-top: 5vw;
}

.spotifyOne{
    position: absolute;
    font-size: 14vw;
    color: #083613;
    top: 50%;
    z-index: 2;
}

.universityOne{
    position: absolute;
    font-size: 9.8vw;
    color: #083613;
    line-height: 45vw;
    z-index: 3; 
}

.spotifyHeaderImage {
    position: absolute;
    max-width: 200vw;
    max-height: 200vh;
    left: -15vw;
    right: 15vw;
    overflow: hidden;
    opacity: .5;
    z-index: 1;

}
.oneClubWinnerContainer{
    position: relative;
    margin-top: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    padding: 5vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #083613;
    border-radius: 25px;
    z-index: 5;
}
.oneClubText {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    text-align: left;
    line-height: 6.5vw;
    color: #2F2F34;
    z-index: 4;
}

.spotifyExplanationContainer {
    position: relative;
    margin: 5vw;
    padding: 2vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #083613;
    border-radius: 25px;
    z-index: 4;
}

.spotifyExplanationTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #083613;
    font-size: 10vw;
    
}

.spotifyExplanation {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color:#083613;
    text-align: left;
    padding-left: 2vw;
}

.casestudySpotify {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color:#083613;
    z-index: 6;
}
.titlesSpotify {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color:#083613;
    padding-top: 5vw;
    padding-left: 17vw;
    z-index: 6;
    text-align: left;
    line-height: 11vw;
    justify-content: center;
    align-items: center;
}
.titlesSpotifyCC {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 9vw;
    color:#083613;
    margin-top: 2vw;
    padding-left: 6vw;
    z-index: 6;
    text-align: left;
    line-height: 10vw;
    justify-content: center;
    align-items: center;
}

.iphoneMockup {
    width: 90vw;
}

.curriculumCoversGridOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 6vw;
    padding-top: 5vw;

}

.curriculumCoversGridOne img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 3vw 4vw 4vw #00000029;
}
.curriculumCoversGridTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 6vw;
    padding-top: 5vw;
}
.curriculumCoversGridTwo img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 3vw 4vw 4vw #00000029;
}
.curriculumCoversGridThree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 6vw;
    padding-top: 5vw;
}
.curriculumCoversGridThree img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 3vw 4vw 4vw #00000029;
}
.curriculumCoversGridFour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 6vw;
    padding-top: 5vw;
}
.curriculumCoversGridFour img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 3vw 4vw 4vw #00000029;
}
.curriculumCoversGridFive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 6vw;
    padding-top: 5vw;
}
.curriculumCoversGridFive img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 3vw 4vw 4vw #00000029;
}
@media (max-width: 600px) {
    .curriculumCoversGridOne, .curriculumCoversGridTwo, .curriculumCoversGridThree, .curriculumCoversGridFour, .curriculumCoversGridFive {
        width: 20vw;
        height: auto;
        gap: 2vw;
    }
}
.iphoneMockup {
    -webkit-filter: drop-shadow(3vw 4vw 4vw #00000029);
    filter: drop-shadow(3vw 4vw 4vw #00000029);
}
.titlesSpotifyOOH {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 9vw;
    color:#083613;
    padding-left: 6vw;
    z-index: 6;
    text-align: left;
    line-height: 10vw;
    justify-content: center;
    align-items: center;
}

.oohImgOne img {
    width: 70vw;
    border-radius: 25px;
    box-shadow: 3vw 4vw 4vw #00000029;
    margin-top: 5vw;
}
.oohImgTwo img {
    width: 70vw;
    border-radius: 25px;
    box-shadow: 3vw 4vw 4vw #00000029;
    margin-top: 5vw;
    margin-bottom: 20vw;
}

/* ModFidelity CSS begins*/

.modFidelityContainer {
    position: relative;
    background: #231F20 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 1.5vw;
    overflow: hidden;
    padding-bottom: 20vw;
    overflow-x: hidden;
}
.modFidelityTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 5vw;
    padding-left: 15vw;
    align-items: center;
    justify-content: center;
}
.modTitle {
    position: absolute;
    font-size: 10vw;
    color: #F9D756;
    top: 50%;
}
.fidelityTitle {
    position: absolute;
    font-size: 10vw;
    color: #F9D756;
    line-height: 32vw;
}
.soundsthreadsTitle {
    position: absolute;
    font-size: 4.6vw;
    color: #F9D756;
    line-height: 49vw;
}
.modfiHeaderFarLeft img {
    width: 15vw;
}
.modfiHeaderLeft img {
    width: 20vw;
}
.modfiHeaderMiddle img {
    width: 25vw;
}
.modfiHeaderRight img {
    width: 20vw;
}
.modfiHeaderFarRight img{
    width: 15vw;
}

.modfiHeaderGrid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2vw;
    padding-top: 30vw;
}

.modfiExplanationContainer {
    position: relative;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #F9D756;
    border-radius: 25px;
}
.modfiExplanationTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #F9D756;
    font-size: 8vw;

}
.modfiExplanation {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color:#F9D756;
    text-align: left;
    padding-left: 2vw;
}
/* MODFI Logo Grid*/

.logoItTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
    color: #F9D756;
    text-align: left;
    padding-left: 4.5vw;
}

.logoGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 35vw;
    margin: 6vw;
    gap: 2vw;
}

.modfiLogo img {
    width: 30vw;
    padding: 3vw 6vw 3vw 6vw;
    background-color: #EEEFEC;
    border-radius: 2vw;
}
.logoCaption {
    position: relative;
    font-family: "new-kansas",sans-serif;
    color: #F9D756;
    font-size: 4vw;
    font-weight: 200;
    text-align: left;
    line-height: 4vw;
    top: 11.5vw;
}

.logoCaptionRight {
    position: relative;
    font-family: "new-kansas",sans-serif;
    color: #F9D756;
    font-size: 4vw;
    font-weight: 200;
    text-align: right;
    line-height: 4vw;
    top: 11.5vw; 
}
.corporateTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
    color: #F9D756;
    text-align: left;
    padding-left: 4.5vw; 
}
.businessCard {
    width: 80vw;
    border-radius: 4vw;
    margin: 2vw;
}

.vanOne, .vanTwo, .vanThree {
    border-radius: 4vw;
    position: relative;
    width: 80vw;
    margin: 2vw;

}
.corporateGrid {
    padding-bottom: 5vw;
}
.merchTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
    color: #F9D756;
    text-align: center;
}
.shirt, .vinyl {
    border-radius: 4vw;
    margin: 2vw;
    width: 80vw;
}

/*RITUAL CSS STARTS*/

.ritch{
    font-size: 16vw;
    line-height: 23vw;
}

.drinky {
    font-size: 18.75vw;;
}

.toRemember {
    font-size: 8vw;
}
.ritualPageContainer {
    position: relative;
    background: #D6EBEB 0% 0% no-repeat padding-box;
    width: 100%;
    max-height: 400vw;
    margin-top: 1.5vw;
    overflow: hidden;
    padding-bottom: 20vw;
    overflow-x: hidden;
}

.ritualTitleContainer {
    margin-top: 3vw;
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    color:#0F5E69;
    line-height: 15vw;
    font-size: 20vw;
}

.ritualBottle {
    margin-top:-2vw;
    width: 88vw;
    -webkit-filter: drop-shadow(3vw 4vw 4vw #00000029);
    filter: drop-shadow(3vw 4vw 4vw #00000029);
}

.ritualExplanationContainer {
    position: relative;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #0F5E69;
    border-radius: 25px;
}
.ritualExplanationTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #0F5E69;
    font-size: 8vw;
    text-align: left;
    padding-left: 2vw;

}
.ritualExplanation {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: #0F5E69;
    text-align: left;
    padding-left: 2vw;
}

.snapchatTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
    color: #0F5E69;
    text-align: left;
    padding-left: 5vw;
}

.snapchatone, .snapchattwo, .snapchatthree, .snapchatfour {
    width: 20vw;
    margin: 2vw;
    position: relative;
    display: table-column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    margin: auto;
}


.snapchatone, .snapchatthree {
    transform: rotate(-20deg);
}

.snapchattwo, .snapchatfour {
    transform: rotate(20deg);
}

.snapchatone, .snapchatthree {
    left: -18vw;
}

.snapchattwo, .snapchatfour {
    top: -40vw;
    right: -18vw;
    gap: 5vw;
}

.snapchatthree, .snapchatfour {
    top: -40vw;
}

.snapchatfour {
    top: -80vw;
}
.snapchatone, .snapchattwo, .snapchatthree, .snapchatfour {
    -webkit-filter: drop-shadow(3vw 4vw 4vw #00000029);
    filter: drop-shadow(3vw 4vw 4vw #00000029);
}

.inSituTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15vw;
    line-height: 10.5vw;
    color: #0F5E69;
    text-align: center;
    margin: 1vw;
    position: relative;
    top: -70vw;
    bottom: -80vw;
}
.billboard {
    position: relative;
    margin: 2vw;
    width: 80vw;
    border-radius: 4vw;
    box-shadow: 3vw 4vw 4vw #00000029;
    top: -65vw;
}

/*COD CSS STARTS*/
.safeZonesPageContainer {
    position: relative;
    background: #D6CDD0 0% 0% no-repeat padding-box;
    width: 100%;
    padding-top: 1.5vw;
    overflow: hidden;
    padding-bottom: 20vw;
    overflow-x: hidden;
}
.safezonesTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    text-align: center;
    color:#4E0C32;
    line-height: 12vw;
}
.callofduty {
    font-size: 9vw;
    line-height: 10vw;

}
.warZone {
    position: relative;
    font-size: 12vw;
    z-index: 2;
}

.safeZones {
    position: relative;
    font-size: 10vw;
    z-index: 2;
}

.codHeaderImage {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -6.5vw;
    opacity: .5;
    bottom: 13vw;
}
.oneClubWinnerGoldContainer{
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    padding: 5vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #4E0C32;
    border-radius: 25px;
    bottom: 13vw;
}
.oneClubGoldText {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    text-align: left;
    line-height: 6.5vw;
    color: #896B19;
    z-index: 4;
}

.safezonesExplanationContainer {
    position: relative;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    border-width: .25vw;
    border-style: solid;
    border-color: #4E0C32;
    border-radius: 25px;
    bottom: 13vw;
}
.safezonesExplanationTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: #4E0C32;
    font-size: 8vw;
    text-align: left;
    padding-left: 2vw;

}
.safezonesExplanation {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: #4E0C32;
    text-align: left;
    padding-left: 2vw;
}
.casestudyCOD {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 9vw;
    color: #4E0C32;
    bottom: 13vw;
}


.codVideoContainer video{
    position: relative;
    bottom: 13vw;
}


/*about CSS STARTS */
.aboutGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 2vw;
    padding-top: 1vw;
}
.helloThere {
    font-family: "gigantic", sans-serif;
    font-size: 12vw;
    line-height: .5vw;
    background: -webkit-linear-gradient(#6CD087, #3CD1CC,  #6B3DC3, red, orange, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutImage img {
    width: 20vw;
    border-radius: 12.5vw 12.5vw 2vw 2vw;
    border: .25vw solid black;
    padding: 1vw;
}
 @media (max-width: 600px) {
    .aboutGrid {
        width: 20vw;
        height: 30vw;
    }
 }

.aboutExplanationContainer {
    position: relative;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    padding-bottom: 6vw;
    border-width: .25vw;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}
.aboutTitle {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: black;
    font-size: 8vw;
    text-align: left;
    padding-left: 2vw;
}
.aboutExplanation {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;
    text-align: left;
    padding-left: 2vw;
    text-align: left;
}
.aboutPageContainer {
    position: relative;
    background: #90828719 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 1.5vw;
    overflow: hidden;
}

.creationsTitle {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
}
 /* ABOUT CAROUSEL CSS*/

 .carousel {
    width: auto;
    margin: 3vw;
    height: 52vw;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .carousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 65vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 2vw;
    border: solid black .1vw;
    padding: 1vw;
  }

  .carousel img.active {
    opacity: 1;
  }
  
  .carousel-nav button {
    background: black;
    border-radius: 50vw;
    font-family: "new-kansas",sans-serif;
    font-size: 4vw;
    line-height: 4vw;
    cursor: pointer;
    letter-spacing: 0;
    text-decoration: none;
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  
  .carousel-nav button:hover {
    color: #EEEFEC;
  }

  .nextButton {
    left: 30vw;
    top: 25vw;
    position: relative;
  }

  .prevButton {
    position: relative;
    right: 30vw;
    top: 25.5vw;
    justify-content: center;
  }

  @media (max-width: 600px) {
    .carousel {
        height: 90vw;
        margin: 5vw;
    }
    .carousel img {
        max-height: 90vw;
    }

    .nextButton {
        left: 38vw;
        top: 40vw;
    }

    .prevButton {
        right: 38vw;
        top: 40.5vw;
    }
  }

/*Contact CSS*/
.reachOut {
    font-family: "gigantic",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    line-height: 10.5vw;
}
.contactContainer {
    position: relative;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    border-width: .25vw;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

.ifYouLike {
    position: relative;
    font-family: "gigantic", sans-serif;
    font-weight: 900;
    color: black;
    font-size: 6vw;
    line-height: 7vw;
    text-align: left;
    padding-left: 2vw;
}

.contactInfo {
    position: relative;
    font-family: "new-kansas", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;
    padding-top: 2vw;
    padding-left: 2vw;
    text-align: left;
    justify-content: center;
}
