
body {
    background: #1E1E1E 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: dunbar-text, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #906373;
    padding: 15px;
    border-radius: 50%;
}
a:link{
    color: #DABFC9;
}
a:visited {
    color: #637E5A;
}

a:hover {
    color: #906373;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 1px solid #477538 ;
}
.button {
    background-color: #FFFFFF; /* Green */
    border-radius: 8px;
    color: #1E1E1E !important;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
.button:hover{
    background-color: #906373;
    color: #FFFFFF !important;
}
/*mobile media query*/
@media only screen and (max-width: 780px) {
    h1 {
        text-align: left;
        padding: 1px 1px;
    }

    body {
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
    img {
        float: left;
        padding: 5px 5px;
        width: 50%;
        height: auto;
    }
}
