h1 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  text-align: center;
  color: #DABFC9;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: #282929;
}

.full-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 480px;
}

.displayed-img {
    position: relative;
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  left: 40px;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}