
body{
    
    font-size:14px;
    font-weight:300;
    font-family: Avenir,Open Sans,Helvetica,sans-serif;
    color:#1e1e1e;
    background-color:#fff
}
h2{
    margin-top: 0
}
p{
    margin:0
}
a{
    text-decoration:none;
    color:rgba(0,0,0,.4);
    -webkit-transition:all .2s;
    transition:all .2s;
    cursor:pointer
}
a,a:active,a:focus{
    outline:0;
}
a:hover{
    color:#800000
}
ul{
    padding:0;
    margin:0;
    list-style-type:none
}
.left{
    position:fixed;
    top:45%;left:200px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:210px
}
@media screen and (max-width:1000px)
{.left{
    position:relative;
    left:50%;
    top:30px;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
}
.left #headshot{
    position:relative;
    overflow:hidden;
    height:300px}
    
.left #headshot-photo{
    width:200px;
    height:300px}

.left #headshot:hover #headshot-overlay{bottom:0}
.left #headshot #headshot-overlay{
    position:absolute;
    bottom:-60px;
    left:0;
    width:200px;
    height:60px;
    text-align:center;
    line-height:60px;
    background-color:rgba(0,0,0,.7);
    -webkit-transition:bottom .3s ease;
    transition:bottom .3s ease;
    font-size:10px;
    letter-spacing:.6px;
    text-transform:uppercase}
.left #headshot #headshot-overlay span{
        margin:0 6px}
.left #headshot #headshot-overlay a{
        color:#fff;
        -webkit-transition:all .2s;
        transition:all .2s}.left 
 #headshot #headshot-overlay a:hover{
            color:#800000}
.left h1{
        font-family:Josefin Sans;
        margin:35px 0, 10px;
        margin-left:-2px;
        font-size:28px;
        letter-spacing:.8px;
        font-weight:300;
        font-weight:bold;
        color:#800000}
.left h1{text-transform:uppercase}
.left ul#navi{font-size:16px}
.left ul#navi li{
    display:inline-block;
    width:28%;text-align:left;
    letter-spacing:1px;
    color:#c8c8c8}

.left ul#navi li a:hover{
    color:#800000}
.left #external-links{
    margin-top:70px}
.left #btn-stech{
    display:inline-block;
    background-color:#800000;
    height:33px;
    width:auto;
    padding:0 9pt;
    line-height:33px;
    color:#fff;
    text-transform:uppercase;
    font-size:7px;
    font-weight:400;
    text-align:center;
    letter-spacing:.8px;
    -webkit-transition:all .2s;transition:all .2s}
.left #btn-stech:hover{
    background-color:#1e1e1e}
.left .external-link{
    display:inline-block;
    line-height:33px;
    font-size:16px;
    padding-left:18px;
    color:#3c3c3c;
    -webkit-transition:all .2s;
    transition:all .2s}
.left .external-link:hover{
    color:#800000}
.card{
    min-height:100vh;
    position:absolute;
    top:0;
    left:550px;
    right:0;
    min-width:600px
}
@media screen and (max-width:1000px)
{.card
    {
        top:80vh;
        left:0;
        min-width:100vw;
        padding:0 30px
    }
}
.line{
    height:1px;
    width:100%;
    border:1px solid rgba(0,0,0,.25)
}
.navi-active{
    color:#800000
}
    @media screen and (min-width:1000px)
    {#home
        {padding-right:250px
        }
    }
    #home p{
        margin-bottom:18px;
        text-align:justify} 
#home #news #news-title{
    overflow:hidden;
    margin: 0;
    letter-spacing:1px
}
#home #news #news-title h2{
    float:left
}
#home #news #news-more{
    font-size:14px;
    margin: 10px, 0, 0, 0;
    float:right;line-height:20px
}
#home #news ul{
    color:#646464;
    text-align:justify
}
#home #news ul li{
    margin-bottom:15px}
#home #news ul li p{
    display:inline
}
#home #news ul li .news-date{
    display:inline-block;
    width:150px;
    letter-spacing:.6px;
    font-weight:500;
    text-transform:uppercase;
    color:#1e1e1e
}#home #news ul li .separator{
    margin-right:10px
}
#about,#publications{
    display:none}
@media screen and (min-width:1000px)
{#about
    {
        padding-right:250px
    }
}
#about p{
    margin-bottom:22px;
    text-align:justify
}
@media screen and (min-width:1000px)
{
    #publications
    {
        padding-right:250px;padding-bottom:50px
    }
}
#publications h3
{
    font-size:14px;
    margin:35px, 0, 15px, 0;
    font-weight:300}
    
#publications h3:nth-child(2){
    margin-top:0
} 
#publications #news #news-more
{
    font-size:14px; 
    text-align: right; 
    margin: 10px, 0, 0, 0; 
    float:right;
    line-height:20px
}
#publications li{
    overflow:hidden;
    margin-bottom:20px}
    #publications #disclaimer{
        background-color:hsla(0,0%,100%,.7);
        font-size:10px;
        margin-top:-50px;
        margin-bottom:35px
    }
#publications #disclaimer span.fa{
    color:#ffc156;
    margin-right:7px
}#publications #p-icon{
    float:left;
    font-size:25px;
    margin-right:40px
}
#publications #p-info{
    width:calc(100% - 70px);
    float:left
}
#publications #p-info .separator{
    margin:0 6px}
    
#publications #p-award{
    font-weight:500
}#publications #p-award span.fa{
    color:#fd7024;
    margin-right:7px
}


@media screen and (max-width:850px) and (max-height:400px)
{
    .left{
            left:350px;
            top:30px;
    }

    .left h1{
        font-family:Josefin Sans;
        padding:0;
        text-align: center;
        margin-left: 215px;
        margin-top: -250px;
        color:#800000;
    }
    .left ul#navi {
        padding:0;
        margin-left: 215px;
    }
 }

 @media screen and (max-width:600px) and (min-height:150px) {
    #home.card {
        top: 550px;
        position: absolute;
        padding: 50px;

    }
 }