
body {
    background: #282929 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

nav {
    padding: .5em;
    top: 0;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 50px;
  }
nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-right: 150px;
    padding-left: 150px;
    list-style: none;
 }

h1 {
    text-align: left;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 1px;
    position:relative; 
    top:170px; 
}

h4 {
    text-align: left;
    font-family: dunbar-text, sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
    position:relative; 
    top:170px; 
}

.workimage{
    width: 600px;
    height: auto;

}

.workgrid{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 200px;
}


.headerimage {
    padding-top: 200px;
    width: 700px;
    height: auto;
    align-content: center;
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.aboutgrid {
    display: grid;
    gap: 1px;
    padding-top: 130px;
    padding-right: 150px;
    padding-left: 150px;
    grid-template-columns: 1fr 1fr;
}

article {
    font-family: dunbar-text, sans-serif;
    font-weight: 50px;
    font-style: normal;
    text-align: justify;
    font-size: 25px;
    color: #FFFFFF;
}

.aboutme {
    width: 500px;
    float: right;
    padding:0 1px 1px 0;
    width: 650px; 
    position:relative; 
    bottom:350px; 
    right:180px;
}

.contactimage {
    padding-top: 150px;
    width: 500px;
    height: auto;
    align-content: center;
}

a {
    text-decoration: none;
    font-size: 150%;
}
a:link{
    text-decoration: none;
    color: #DABFC9;
}
a:visited {
    text-decoration: none;
    /*color: #637E5A;*/
    color: #FFFFFF;
}
a:hover {
    text-decoration: none;
    color: #DABFC9;
}
h2 {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   font-family: dunbar-text, sans-serif;
   font-weight: 400;
   font-size: 50px;
   font-style: normal;
   color: #DABFC9;
   padding-top: 2px;
   padding-bottom: 100px;
   padding-right: 200px;
   padding-left: 200px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border: 1px solid #DABFC9 ;
}
input:hover{
    opacity: 0.5;
}