
  body {
    background: #282929 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #DABFC9;
    text-align: center;
    margin: 50px;
    font-family: dunbar-text, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}
  
h1 {
    color: #FFFFFF;
    text-align: center;
    margin: 50px;
    font-family: dunbar-text, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;

}

  .phone {
    background-color: #FFFFFF;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 20%;

  }
  .button {
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #282929;
    padding: 30px 30px;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button:hover {
  background-color: #DABFC9;
  color: #FFFFFF;
}

  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }