
  
  body {
    background: #282929 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #DABFC9;
    text-align: center;
    margin: 50px;
    font-family: dunbar-text, sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
  header {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    font-size: 60px;
    text-align: center;

  }
  
  .movie-title {
    padding-bottom: 20px;
    font-size: 50px;
    color: #FFFFFF;
  }
  
  .controls {
    width: 100%;
    padding: 20px 5px;
  }

  .button {
    background-color: #FFFFFF; /* Green */
    border-radius: 8px;
    color: #282929;
    padding: 30px 30px;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.button:hover {
  background-color: #DABFC9;
  color: #FFFFFF;
}

  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }